* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.body {
    margin: 0;
}


/* Style the header */

.header {
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    color: black;
    font-size: 4vw;
}

.header h1 {
    font-size: 8vw;
}


/* Create three equal columns that floats next to each other */


/*Ejemplo de estilos por clase*/

.one-column {
    float: left;
    width: 100%;
    /*padding: 0(distancia arriba) 20% (derecha) 0(abajo) 20%(izquierda);*/
    padding: 20px 20%;
    text-align: center;
}

.one-column h1 {
    font-size: 6vw;
}

.one-column h2 {
    text-align: center;
    font-size: 40px;
}

.one-column2 {
    float: left;
    width: 100%;
    /*padding: 0(distancia arriba) 20% (derecha) 0(abajo) 20%(izquierda);*/
    padding: 20px 10%;
    background-color: #46A6FC;
    text-align: center;
}

.one-column2 h1 {
    font-size: 6vw;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.two-column img {
    width: 100%;
    padding: 0px 20px 50px 20px;
}

.two-column {
    padding: 20px;
    float: left;
    width: 50%;
}

.two-column h1 {
    font-size: 6vw;
}

.two-column h2 {
    font-size: 3vw;
}

.two-column p {
    font-size: 20px;
}

.colordefondo-v {
    background-color: #28ECA5;
}


/*Three columns Gallery*/

.three-column {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    /*desc es una etiqueta*/
    padding: 10px;
    text-align: center;
}


/*Four columns*/

.four-column {
    padding: 20px;
    float: left;
    width: 25%;
}

.four-column p {
    text-align: center;
    font-size: 20px;
}

.four-column img {
    width: 100%;
}

.four-column2 img {
    float: left;
    width: 25%;
    /*Footer*/
}

.two-columnfoot {
    padding: 20px;
    display: 20px;
    padding-top: 2.4%;
    padding-right: 25%;
    float: left;
    width: 50%;
}

.footer {
    background-color: black;
    color: white;
    float: left;
    width: 100%;
}

.four-columnfoot {
    padding: 20px;
    float: left;
    width: 25%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width:600px) {
    .two-column,
    .three-column {
        width: 100%;
    }
    .four-column {
        width: 50%;
        padding: 10px;
    }
    .four-column2 img {
        width: 50%;
    }
    .two-columnfoot {
        width: 100%;
        font-size: 4vw;
        padding-top: 6%;
        padding-left: 12%;
    }
    .four-columnfoot {
        width: 50%;
        padding-left: 12%;
        float: left;
        text-align: left;
    }
    .header {
        background-image: url(../img/banner-2.jpg);
    }
}